## 1. Reference previous assignment or write some documentation

Note: The data set was documented in the previous assignment

## 2. Retrieve the data, create a DataFrame

In [37]:
import pandas as pd
df = pd.read_csv(filepath_or_buffer = '../data/raw/national-history.csv')
df

,date,death,deathIncrease,inIcuCumulative,inIcuCurrently,hospitalizedIncrease,hospitalizedCurrently,hospitalizedCumulative,negative,negativeIncrease,onVentilatorCumulative,onVentilatorCurrently,positive,positiveIncrease,states,totalTestResults,totalTestResultsIncrease
0,2021-03-07,515151.0,842,45475.0,8134.0,726,40199.0,776361.0,74582825.0,131835,4281.0,2802.0,28756489.0,41835,56,363825123,1170059
1,2021-03-06,514309.0,1680,45453.0,8409.0,503,41401.0,775635.0,74450990.0,143835,4280.0,2811.0,28714654.0,60015,56,362655064,1430992
2,2021-03-05,512629.0,2221,45373.0,8634.0,2781,42541.0,775132.0,74307155.0,271917,4275.0,2889.0,28654639.0,68787,56,361224072,1744417
3,2021-03-04,510408.0,1743,45293.0,8970.0,1530,44172.0,772351.0,74035238.0,177957,4267.0,2973.0,28585852.0,65487,56,359479655,1590984
4,2021-03-03,508665.0,2449,45214.0,9359.0,2172,45462.0,770821.0,73857281.0,267001,4260.0,3094.0,28520365.0,66836,56,357888671,1406795
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
415,2020-01-17,NaN,0,NaN,NaN,0,NaN,NaN,NaN,0,NaN,NaN,0.0,0,1,0,0
416,2020-01-16,NaN,0,NaN,NaN,0,NaN,NaN,NaN,0,NaN,NaN,0.0,0,1,0,0
417,2020-01-15,NaN,0,NaN,NaN,0,NaN,NaN,NaN,0,NaN,NaN,0.0,0,1,0,0
418,2020-01-14,NaN,0,NaN,NaN,0,NaN,NaN,NaN,0,NaN,NaN,0.0,0,1,0,0
419,2020-01-13,NaN,0,NaN,NaN,0,NaN,NaN,NaN,0,NaN,NaN,NaN,0,1,0,0

## 3. Using the Data

I am going to clean the data for further analysis

### - 1 transform a column

In [38]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 420 entries, 0 to 419
Data columns (total 17 columns):
 #   Column                    Non-Null Count  Dtype
---  ------                    --------------  -----
 0   date                      420 non-null    object
 1   death                     392 non-null    float64
 2   deathIncrease             420 non-null    int64
 3   inIcuCumulative           348 non-null    float64
 4   inIcuCurrently            347 non-null    float64
 5   hospitalizedIncrease      420 non-null    int64
 6   hospitalizedCurrently     356 non-null    float64
 7   hospitalizedCumulative    369 non-null    float64
 8   negative                  372 non-null    float64
 9   negativeIncrease          420 non-null    int64
 10  onVentilatorCumulative    341 non-null    float64
 11  onVentilatorCurrently     348 non-null    float64
 12  positive                  419 non-null    float64
 13  positiveIncrease          420 non-null    int64
 14  states                    420 non-null    int64
 15  totalTestResults          420 non-null    int64
 16  totalTestResultsIncrease  420 non-null    int64
dtypes: float64(9), int64(7), object(1)
memory usage: 55.9+ KB

In [39]:
df["date"] = pd.to_datetime(df["date"])
#Notice the difference in #0 data type before and after
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 420 entries, 0 to 419
Data columns (total 17 columns):
 #   Column                    Non-Null Count  Dtype
---  ------                    --------------  -----
 0   date                      420 non-null    datetime64[ns]
 1   death                     392 non-null    float64
 2   deathIncrease             420 non-null    int64
 3   inIcuCumulative           348 non-null    float64
 4   inIcuCurrently            347 non-null    float64
 5   hospitalizedIncrease      420 non-null    int64
 6   hospitalizedCurrently     356 non-null    float64
 7   hospitalizedCumulative    369 non-null    float64
 8   negative                  372 non-null    float64
 9   negativeIncrease          420 non-null    int64
 10  onVentilatorCumulative    341 non-null    float64
 11  onVentilatorCurrently     348 non-null    float64
 12  positive                  419 non-null    float64
 13  positiveIncrease          420 non-null    int64
 14  states                    420 non-null    int64
 15  totalTestResults          420 non-null    int64
 16  totalTestResultsIncrease  420 non-null    int64
dtypes: datetime64[ns](1), float64(9), int64(7)
memory usage: 55.9 KB

### - 1 calculate summary statistics

In [40]:
#Give all the summary statistics for all columns
df.describe()

,death,deathIncrease,inIcuCumulative,inIcuCurrently,hospitalizedIncrease,hospitalizedCurrently,hospitalizedCumulative,negative,negativeIncrease,onVentilatorCumulative,onVentilatorCurrently,positive,positiveIncrease,states,totalTestResults,totalTestResultsIncrease
count,392.000000,420.000000,348.000000,347.000000,420.000000,356.000000,369.000000,3.720000e+02,420.000000,341.000000,348.000000,4.190000e+02,420.000000,420.000000,4.200000e+02,4.200000e+02
mean,187210.668367,1226.550000,21059.344828,12059.227666,1848.478571,57987.117978,310817.140921,3.030351e+07,177578.154762,2173.932551,3975.298851,8.116687e+06,68467.830952,49.476190,1.073369e+08,8.662503e+05
std,142331.657380,1070.129644,13572.638376,5668.415483,1708.460481,31898.555998,235557.870159,2.407815e+07,121544.473208,1327.372196,2191.080602,8.967432e+06,68682.221496,16.896764,1.129172e+08,6.579460e+05
min,0.000000,0.000000,74.000000,1299.000000,-2858.000000,325.000000,4.000000,2.000000e+00,-658774.000000,32.000000,167.000000,0.000000e+00,0.000000,1.000000,0.000000e+00,0.000000e+00
25%,86911.750000,439.750000,9900.250000,7495.500000,765.750000,35100.500000,123250.000000,6.753778e+06,79236.750000,951.000000,2168.500000,1.004386e+06,22462.500000,56.000000,5.888598e+06,2.388558e+05
50%,169118.500000,1016.000000,18797.500000,10114.000000,1490.000000,48811.000000,280138.000000,2.757246e+07,206620.000000,2107.000000,3186.500000,5.044337e+06,44664.500000,56.000000,6.839699e+07,8.223685e+05
75%,258912.250000,1642.500000,32998.500000,15596.500000,2467.000000,70519.250000,481309.000000,5.084301e+07,260621.000000,3430.000000,5828.500000,1.234137e+07,89684.250000,56.000000,1.854937e+08,1.401706e+06
max,515151.000000,5427.000000,45475.000000,23912.000000,17155.000000,132474.000000,776361.000000,7.458282e+07,480256.000000,4281.000000,8004.000000,2.875649e+07,295121.000000,56.000000,3.638251e+08,2.309884e+06

### - 1 calculate value counts

In [41]:
#Value count for specific column 'states' since it is somewhat less useless to have valuecount for as all the other data points are for trends
df['states'].value_counts()

56    357
4      12
6      12
1       9
51      9
2       5
5       5
3       2
7       2
8       1
11      1
12      1
16      1
26      1
32      1
40      1
Name: states, dtype: int64

This is a count for how many states were recorded in a given day

### - 1 filling in missing values

In [42]:
#Fill all the NaN values with 0
df.fillna(0)

,date,death,deathIncrease,inIcuCumulative,inIcuCurrently,hospitalizedIncrease,hospitalizedCurrently,hospitalizedCumulative,negative,negativeIncrease,onVentilatorCumulative,onVentilatorCurrently,positive,positiveIncrease,states,totalTestResults,totalTestResultsIncrease
0,2021-03-07,515151.0,842,45475.0,8134.0,726,40199.0,776361.0,74582825.0,131835,4281.0,2802.0,28756489.0,41835,56,363825123,1170059
1,2021-03-06,514309.0,1680,45453.0,8409.0,503,41401.0,775635.0,74450990.0,143835,4280.0,2811.0,28714654.0,60015,56,362655064,1430992
2,2021-03-05,512629.0,2221,45373.0,8634.0,2781,42541.0,775132.0,74307155.0,271917,4275.0,2889.0,28654639.0,68787,56,361224072,1744417
3,2021-03-04,510408.0,1743,45293.0,8970.0,1530,44172.0,772351.0,74035238.0,177957,4267.0,2973.0,28585852.0,65487,56,359479655,1590984
4,2021-03-03,508665.0,2449,45214.0,9359.0,2172,45462.0,770821.0,73857281.0,267001,4260.0,3094.0,28520365.0,66836,56,357888671,1406795
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
415,2020-01-17,0.0,0,0.0,0.0,0,0.0,0.0,0.0,0,0.0,0.0,0.0,0,1,0,0
416,2020-01-16,0.0,0,0.0,0.0,0,0.0,0.0,0.0,0,0.0,0.0,0.0,0,1,0,0
417,2020-01-15,0.0,0,0.0,0.0,0,0.0,0.0,0.0,0,0.0,0.0,0.0,0,1,0,0
418,2020-01-14,0.0,0,0.0,0.0,0,0.0,0.0,0.0,0,0.0,0.0,0.0,0,1,0,0
419,2020-01-13,0.0,0,0.0,0.0,0,0.0,0.0,0.0,0,0.0,0.0,0.0,0,1,0,0