## 1. Retrieve the data, and examine it

In [75]:
import json
import pandas as pd
import requests as re

In [76]:
res = re.get('http://linserv1.cims.nyu.edu:10000/films?_page=1')
d = res.json()

#### Interested keys
- director
- rt_score

#### What happens when url changes
It loads a different page

## 2. Load the data into a DataFrame

In [77]:
df = pd.DataFrame.from_dict(d)
#Request -> dictionary -> dataframe
res1 = re.get('http://linserv1.cims.nyu.edu:10000/films?_page=2')
d1 = res1.json()
df1 = pd.DataFrame.from_dict(d1)

#Request -> dictionary -> dataframe
res2 = re.get('http://linserv1.cims.nyu.edu:10000/films?_page=3')
d2 = res2.json()
df2 = pd.DataFrame.from_dict(d2)

#Append all the dataframe
df = df.append(df1, ignore_index = True)
df = df.append(df2, ignore_index = True)

## 3. Report

In [81]:
#Turn rt_score type object -> numeric for calculations
df['rt_score'] = pd.to_numeric(df['rt_score'])

#Make dataframe that will serve as the report
dfclean = pd.DataFrame(columns = ['avg_rt_score', 'count'])

#Make the indexes directors' names
dfclean.reindex(df['director'])
#Calculate numeber of works of director by counting occurence in name
dfclean['count'] = df['director'].value_counts()
#Calculate average rt score of each director using groupby and put it in the column
dfclean['avg_rt_score'] = df.groupby(['director']).mean()

dfclean

                      avg_rt_score  count
Hayao Miyazaki           92.777778      9
Isao Takahata            90.000000      5
Gorō Miyazaki            62.000000      2
Hiromasa Yonebayashi     93.500000      2
Hiroyuki Morita          89.000000      1
Yoshifumi Kondō          91.000000      1
Michaël Dudok de Wit     93.000000      1